@font-face {
    font-family: "楷体";
    src: url("../../public/fonts/kai_GB2312.ttf");
}

.ellipsis {
    white-space: nowrap; /* 使文本不可换行 */
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis; /* 显示省略符号来代表被隐藏的文本 */
}
.textElliplise3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.textElliplise2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}
.pd15 {
    padding: 15px;
}
.pdTop10 {
    padding-top: 10px;
}
.pdTop20 {
    padding-top: 20px;
}
.pdTop30 {
    padding-top: 30px;
}
.margin10 {
    margin: 10px;
}
.marginTop5 {
    margin-top: 5px;
}
.marginTop10 {
    margin-top: 20px;
}
.marginTop20 {
    margin-top: 20px;
}
.marginTop15 {
    margin-top: 15px;
}
.marginTop30 {
    margin-top: 30px;
}

.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}
.border-box {
    box-sizing: border-box;
}
.roundCorner {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #c9c8c8;
}

.grey {
    color: #aaa;
}
.font10 {
    font-size: 10px;
}
.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.bold {
    font-weight: bold;
}

.bgGrey {
    background-color: #dfe4ea;
}
.bgWhite {
    background-color: #fff;
}

.fontGrey {
    color: rgb(141, 140, 140);
}

.subTitle {
    font-size: 18px;
    padding-bottom: 10px;
}

.testBox {
    border: 1px solid rgb(155, 155, 155);
}
